extends layout

block content
  .row.banner
    .col-12
      h1 restaurant website
      small &nbsp;best restaurant in the place!!

  // Listing 4.6 Complete template for app_server/views/locations-list.pug
  // Name of the listing and a link to the location
  // Uses Font Awesome icons to output a star rating
  // Uses Bootstrap’s badge helper class to display the distance away
  // Address of the location
  // Facilities of the location, output using Bootstrap’s badge classes
  // Figure 4.9 Onscreen rendering of a single location on the List page

  // Starts header area
  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") restaurant
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 100m
          p.address 125 High Street, Reading, RG6 1PS
          p.facilities
            span.badge.badge-warning Hot and cold drinks
            span.badge.badge-warning Food
            span.badge.badge-warning Premium wifi

    .col-12.col-md-4
      p.lead 
Experience the finest flavors and exceptional service at [Your Restaurant Name], where every dish is crafted with passion and served with a smile—join us for a dining experience like no other!